
@{
    Layout = null;
}

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Introduzca Cedula", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Cedula", null, new { @class = "form-control", @style = "width:65%;display: initial", @onkeypress = "return validarNro(event)", @maxlength = "9" })
            <input type="button" value="Buscar" onclick="BuscarCedula()" class="btn btn-warning" />
        </div>
    </div>
    <div class="form-group"  hidden>
        <div class="col-md-10">
            @Html.TextBox("ID", null, new { @class = "form-control", @style = "width:65%;", @readonly ="" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Seleccione Viaje", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Viajes",null, "-- Seleccione --", new { @class = "form-control", @style = "width:65%;" })
        </div>  
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="text-align:right;">
            <input type="button" value="Registrar" onclick="Fun_SolicitarViaje_Create()" class="btn btn-primary" />
        </div>
    </div>
</div>